﻿.about-container {
    padding: 20px;
    margin-top: 50px;
    background-color: white;
    font-family: Roboto;
    color: gray;
}

.about-banner {
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding-top: 20px;
    height: 35px;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
}

.back {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 25px;
    height: 25px;
}
