﻿body {
    font-family: Roboto;
    width: 100%;
    height: 100%;
    margin: -1px 0 0 -1px;
}

#gMap {
    height: 100%;
    width: 100%;
    position: relative;
}

#panel {
    height: 100%;
    width: 100%;
    position: absolute;
}

.active {
    background-color: #eaeaea;
}

.filters-panel {
    bottom: 5%;
    right: 0;
}

.year-select {
    width: 90%;
}

.clear-search {
    cursor: pointer;
    z-index: 10000;
    position: absolute;
    right: 7px;
    font-size: 50px;
    top: -18px;
}

.clear-search img {
    width: 10px;
    height: 10px;
}

.update-map {
    text-align: center;
    border: 1px solid lightgray;
    padding: 5px;
    background-color: #5cb85c;
    color: #ffffff;
    width: 85%;
}

.selections div {
    display: block;
}

.review-button a {
    color: gray;
    text-decoration: none;
}

.menu-border {
    border-bottom: 1px solid lightgray;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

    table td {
        border: 1px solid black;
        padding: 5px;
    }

.filter-section {
    color: gray;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    padding-left: 20px;
}

    .filter-section.selections div {
        padding: 5px;
        background-color: #ffffff;
        border: 1px solid lightgray;
        width: 85%;
        color: lightgray;
    }

.filter-selected {
    background-color: #337ab7 !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    -webkit-overflow-scrolling: touch;
    display: none;
    background-color: #ffffff;
    overflow-y: auto;
}

.slideout-panel {
    position: relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

    .slideout-open .slideout-menu {
        display: block;
    }

.menu-bar {
    border-bottom: 2px solid gray;
    width: 20px;
    margin-bottom: 3px;
}

.filters-toggle {
    text-align: center;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 32px;
    height: 30px;
    padding: 17px 0px 0px 10px;
    cursor: pointer;
}

.menu-heading {
    text-align: center;
    padding-left: 0;
}

.gm-style-mtc, .hidden {
    display: none;
}

.controls {
    border: 1px solid transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    width: 100%;
    height: 47px;
    margin-left: 21px;
    padding-left: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.low-opacity {
    opacity: 0.5;
}

.about {
    text-decoration: none;
}
